.hero {
  min-height: 100vh;
  background-repeat: no-repeat;
  position: relative;

  &__carrousel {
    top: 0;
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    min-height: 100vh;
    z-index: -1;
    opacity: 0;

    &--active { // .hero__carrousel--active
      opacity: 1;
    }
  }

  &__radio {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
